body {
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body{
  background-image: url('/images/piggy.jpg');
  background-repeat: no-repeat;
}

#bank{
  color: black;
  text-shadow: 0 0 3px gold;
  text-indent: 15px;
}

#to_currency{

}
